#formContainer{
    background-Color: "#f2f2f2";
    width: 65%;;
    margin:auto;
}
#smal{
    margin: auto;
    width: 400px;
    height:500px;
    
}
img{
    margin: auto;
    width: 400px;
    height:500px;
}
#roww{
    order:'1px solid  black';
    margin-Left:'4%';
    margin-Right:'4%';
}

#row11{
    margin-Left:'5%';
}
#cente{
    text-Align:'center';
}
#chpq{
    border:'1px solid black';
    box-Shadow:'5px 5px 4px';
}
#templ{
    text-Align:'left';
    margin-Left:'5%';
}
#bdr{
    border:'1px solid black';
    margin-Left:'2%';
    margin-Right:'3%';
}
#colmd{
    text-Align:'left';
    width:'1px';
    height:'auto';
}
#chang{
    box-Shadow:'5px 5px 4px';
    border:'1px solid black';padding-Left:'2%';
}
#onet{
    border:'1px solid black';
    box-Shadow:'5px 5px 4px' ;
    padding-Left:'2%';
}
#marg{
    margin-Bottom: "15px"
}
.classcarousel{
    margin:auto;
    padding: 25px;;
    text-align: center;
}

#labelStyle{
    display: "block";
    margin-Bottom: "5px";
    font-Weight: "bold";
  };

  #inputStyle{
    padding: "10px";
    border: "none";
    border-Radius: "5px";
    margin-Bottom: "15px";
    width: "100%";
  };

  #textAreaStyle{
    padding: "10px";
    border: "none";
    border-Radius: "5px";
    margin-Bottom: "15px";
    width: "100%";
    height: "100px";
  };

  #formStyle{
    width: "80%";
    margin: "0 auto";
  };
  #nameContainer{
    display: "flex";
    justify-Content: "space-between";
    margin-Bottom: "15px";
  };

  #inputContainer{
    width: "48%";
  };
